Impact-certificate-evm/.env
Impact-certificate-evm/node_modules
mint-request-receiver/.env
mint-request-receiver/node_modules
minter-service/.env
minter-service/node_modules
project-ic-minter/.env
project-ic-minter/node_modules